* {
    margin: 0%;
    padding: 0%;
}

.page-header {
    background-color: #3399cc;
    height: 88px;
}

.page-heading {
    font-family: Century Gothic, CenturyGothic, sans-serif;
    color: white;
    padding-top: 17px;
    padding-left: 23px;
    font-size: 41px;
    font-weight: lighter;
    text-transform: uppercase;
}

.contact-heading {
    padding-left: 78px;
    padding-top: 28px;
    font-size: 18px;
    font-weight: 500;
}

.page-navigators li {
    display: inline-block;
    color: white;
    padding: 6px 15px;
}

.edit-delete > a {
    text-decoration:none;
    color:black;
    font-weight:500;
}

.navigator-items {
    text-transform: uppercase;
    font-family: "Noto sans", sans-serif;
    font-weight: 600;
    padding-left: 9px;
    font-size: 12px;
}

.page-navigators {
    background-color: #333333;
    height: 28px;
}

.nav-blog-image {
    float: right;
    margin-top: 5px;
    padding-right: 23px;
    width: 42px;
}

.news-header {
    text-transform: uppercase;
    padding-left: 7px;
    padding-top: 4px;
    font-weight: 500;
    font-size: 14px;
}

.contact {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
}

.full-details {
    margin-top:185px;
}

.contact-labels > label:last-child {
    margin-left: 161px;
}

.left-details:hover {
    background-color: lightskyblue;
}

.left-details{
    width:304px;
}

.left-details >a> p {
    padding-left:20px;
    margin-top:20px;
}

a:hover{
    color:black;
}

.add-contact-form {
    width: 60%;
    position: absolute;
    top: 25px;
    left: 450px;
}

.main-body {
    display: flex;
    margin-left: 67px;
    margin-top: 30px;   
}

.navigator-items>li>a {
    color: white;
    text-decoration:none;
}

#mobile-field-check {
    margin-right: 334px;
}

.contact-inputs {
    margin-bottom: 11px;
}
 .contact-inputs > input {
        margin-right: 9px;
        width: 34%;
        height: 36px;
 }

#form {
    box-shadow: 2px -2px 7px 10px rgb(0 0 0 / 20%), 2px 17px 16px 1px rgb(0 0 0 / 19%);
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    width: 600px;
    height:458px;
    margin-left:132px;
}

#land-line{
    margin-left:50px;
}

.form-items > input {
    height: 39px;
    margin-bottom: 10px;
    width:70%;
}

.form-items {
    margin-bottom: 25px;
    margin-left: 33px;
    padding-top: 21px;
}
.short-details {
    color:black;
    text-decoration:none;
}

.add-details, .update-details {
    width: 98px;
    height: 28px;
    background-color: #148b14;
    font-size: 18px;
    color: white;
    float: right;
    margin-right: 36px;
    margin-top: 2px;
}

#address {
    width: 70%;
    height:91px;
}

#left-body {
    margin-left: 32px;
    width: 25%;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 #left-body > div {
        border: 1px solid #a5a5a59e;
        padding-top: 6px;
        padding-left: 12px;
        padding-bottom: 10px;
 }

.user-name {
    font-size: 25px;
    margin-bottom: 4px;
}

.mail {
    font-size: 11px;
    padding-left: 5px;
}

.phone-number {
    font-size: 12px;
    margin-top: 2px;
    padding-left: 5px;
}


.right-body {
    position: absolute;
    top: 30px;
    left: 521px;
    height: 100%;
    width: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.edit-delete {
    float: right;
    display: flex;
    margin-right: 230px;
    margin-top: 161px;
}

.edit-icon {
    width: 13px;
    height: 14px;
    padding-top: 2px;
    margin-right: 9px;
}

.delete-icon {
    width: 16px;
    height: 20px;
    margin-top: -3px;
}

.edit-text {
    font-size: 14px;
    padding-top: 1px;
    margin-right: 43px;
}

.delete-text {
    font-size: 13px;
    margin-left: 7px;
    margin-top: 1px;
}

#right-name {
    font-size: 33px;
}

#right-name, #right-email, #right-website, #right-landline, #right-address {
    margin-bottom: 19px;
}

#right-email, #right-website, #right-landline, #right-address, #right-mobile {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
}

.email-set, .mobile-set, .landline-set, .website-set, .address-set {
    display: flex;
}

.mobile-set {
    margin-bottom: 14px;
}

#address {
    resize: none;
}

.validations {
    color: red;
}
